.featured{
  height: 90vh;
  position: relative;

  .category{
    //position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    select{
      cursor: pointer;
      background-color: black;
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
    }
  }

  &__imgBg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  &__info{
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  &__movie-logo{
    color: #fdfdfd;
    width: 400px;
  }
  &__desc{
    margin: 20px 0;
  }
  &__buttons{
    display: flex;
    &-text{
      margin-left: 5px;
    }
  }
  &__button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
  }

}

.play{
  background-color: #fdfdfd;
  color: black;
}
.more{
  background-color: #727070;
  color: white;
}