.footer{
  padding: 30px 0;
  border-top: 1px solid #727070;
  background: black;
  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__link{
    color: #989797;
  }
  &__btn, &__btns{
    width: 200px;
    background: #6b0511;
    border: none;
    padding: 10px 7px;
    border-radius: 5px;
    color: #fdfdfd;
    cursor: pointer;
  }
  &__block-btns{
    display: flex;
    column-gap: 17px;
  }
  &__btns{
    width: 50px;
  }
  &__social-btns{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }
}

.title{
  color: #fdfdfd;
  text-align: center;
  font-size: 18px;
}