.list{
  width: 100%;
  margin: 10px;

  &__title{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 70px;
  }

  &__wrapper{
    position: relative;
    .contain{
      margin-left: 50px;
      display: flex;
      margin-top: 10px;
      width: max-content;
      transform: translateX(0);
      transition: all 1s ease;
    }
  }
  &__slider-arrow{
    width: 50px;
    height: 100%;
    background-color: #22222250;
    color: #fdfdfd;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
  }



}

.left{
  left: 0;
}
.right{
  right: 0;
}