.listItem{
  width: 200px;
  height: 300px;
  background-color: #000000;
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: #fdfdfd;
  margin-bottom: 30px;

  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video{
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover{
    width: 350px;
    height: 450px;
    top: -150px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 15px 0 rgba(255,255,255,0.15);
    box-shadow: 0 1px 15px 0 rgba(255,255,255,0.15);


    .listItem__img{
      height: 250px;
    }

    .listItem__info{
      display: flex;
      flex-direction: column;
      padding: 5px;
    }

    .listItem__icons{
      display: flex;
      margin-bottom: 10px;
    }
    .listItem__icon{
      border: 2px solid white;
      padding: 5px;
      border-radius: 50%;
      margin-right: 10px;
      font-size: 30px;
      display: flex;
    }

    .listItem__rating{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #bd2d2d;
    }

    .listItem__info-top{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      column-gap: 8px;
      font-size: 14px;
      font-weight: 600;
      color: #727070;
    }

    .listItem__desc{
      font-size: 13px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

  }

    .listItem__genre{
      font-size: 14px;
      color: lightgrey;
    }
  }
}