.login{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/2633ec3e-631d-4007-b94a-49110fb5b919/KG-ru-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  position: relative;
  &__top{
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 10%);
    &-wrapper{
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-logo{
      height: 100px;
    }
  }

  &__form{
    width: 400px;
    padding: 30px;
    row-gap: 15px;
    border-radius: 5px;
    background-color: #00000090;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-label{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #f8f6f6;
      font-size: 14px;
    }

    &-link{
      color: #fdfdfd;
    }

    &-title{
      text-align: center;
    }

    &-input{
      width: 100%;
      height: 40px;
      border-radius: 5px;
      background-color: #4d4b4b;
      color: #fdfdfd;
      border: none;
      padding: 5px;
      &::placeholder{
        color: #d5d5d5;
      }
    }

    &-btn{
      height: 40px;
      border-radius: 5px;
      background-color: red;
      color: #fdfdfd;
      border: none;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }

    &-desc{
      color: #727070;
      b{
        padding-left: 5px;
        color: #fdfdfd;
      }
    }
    &-info{
      font-size: 12px;
    }
  }



  .container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fdfdfd;
  }
}
