.modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &.active{
    opacity: 1;
    pointer-events: all;
    z-index: 2;
  }

  &__content{
    padding: 20px;
    border-radius: 10px;
    background-color: #564a56;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.4s all;

    &.active{
      transform: scale(1);
    }
  }
}
