.movies{
  padding: 90px 0;
  background: #000000;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#5d1e1e, #460c46);
    clip-path: circle(20% at right 60%);
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#040e4f, #3b063b);
    clip-path: circle(15% at 5% 80%);
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__card{
    width: calc(16.66666% - 25px);
  }
  &__select{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #4d4b4b;
    color: #fdfdfd;
  }
  &__title{
    color: #fdfdfd;
  }
  &__sort{
    margin: 20px;
  }
  &__search{
    background: unset;
    padding: 19px;
    border-radius: 5px;
    border: none;
    color: #fdfdfd;
    font-size: 14px;
    &::placeholder{
      color: #fdfdfd;
    }
  }
  &__filter{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #232121;
    border-radius: 5px;
    margin: 30px 0;
    &-sort{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    &-box{
      background: #3b3737 !important;
      color: #4d4b4b !important;
      border: none !important;
      border-radius: 5px !important;
    }
    &-item{
      background: #ffffff !important;
      color: #fdfdfd;
      &:hover{
        background: #bd2d2d !important;
        color: #fdfdfd;
      }
    }
  }
}

