.movies__card {
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  &-block {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 1s;
    overflow-y: hidden;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1s;
    }
    &:hover{
      transform: scale(1.1);
      z-index: 10;
      .movies__card-info{
        display: flex;
        transition: 1s;
        bottom: 0;
      }
      transition: 1s;
    }
  }

  &-info {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    position: absolute;
    bottom: -100%;
    background: #00000080;
    color: #fdfdfd;
    &-time{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  }


  &-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 15px;
    right: 50%;
    transform: translateX(50%);
  }
  &-icon{
    font-size: 24px;
    position: relative;
    border: 1px solid #fdfdfd;
    border-radius: 50%;
  }
}