.navbar{
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 40%);

  &.scrolled{
    background: #000000;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  &__left{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__logo{
    width: 100px;
    height: 45px;
    margin-right: 20px;
  }

  &__category{
    cursor: pointer;
  }
  &__link{
    color: #fdfdfd;
    font-size: 16px;
    &.active{
      color: red;
      font-weight: 500;
      border-bottom: 1px solid red;
    }
  }

  &__right{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__search{
    padding: 5px;
    border-radius: 5px;
    border: none;
    &::placeholder{
      color: #4d4b4b;
    }
  }

  &__avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  &__profile{
    display: flex;
    align-items: center;
    column-gap: 5px;
    &-options{
      display: none;
      background-color: #1e1d1d;
      border-radius: 5px;
    }
    &-list{
      padding: 10px;
      cursor: pointer;
    }
    &-link{
      color: #fdfdfd;
    }
    &:hover{
      .navbar__profile-options{
        display: flex;
        flex-direction: column;
        position: absolute;
      }
    }
  }
}
