.register{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg");
  background-size: cover;
  position: relative;
  &__top{
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.5) 20%);
    &-wrapper{
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-logo{
      height: 100px;
    }
    &-button{
      background-color: red;
      border: none;
      color: #fdfdfd;
      border-radius: 5px;
      padding: 7px 15px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
    &-link{
      color: #fdfdfd;
    }
  }

  &__title{
    font-size: 50px;
  }
  &__subtitle{
    margin: 20px;
  }
  &__info{
    font-size: 20px;
  }

  &__form{
    width: 50%;
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    &-label{
      display: flex;
      align-items: center;
      color: #1e1d1d;
    }
    &-error{
      color: #1e1d1d;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 30px;
    }
    &-input{
      flex: 9;
      height: 100%;
      border: none;
      padding: 0 10px;
      font-size: 18px;
      &::placeholder{
        color: #1e1d1d;
      }
    }
    &-btn{
      flex: 4;
      height: 100%;
      background-color: red;
      border: none;
      color: #fdfdfd;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fdfdfd;
  }
}

.goToPass{
  color: #fdfdfd;
}