.registerPass{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  background-size: cover;
  position: relative;
  &__top{
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.2) 20%);
    border-bottom: 1px solid #00000010;
    &-wrapper{
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-logo{
      height: 150px;
    }
    &-button{
      background-color: red;
      border: none;
      color: #fdfdfd;
      border-radius: 5px;
      padding: 7px 15px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__title{
    font-size: 34px;
    color: black;
    margin-bottom: 20px;
  }
  &__form{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    padding: 50px 40px;
    border-radius: 20px;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;;

    &-block{
      width: 100%;
    }

    &-input{
      width: 100%;
      height: 40px;
      padding-left: 15px;
      background: #00000010;
      border-radius: 5px;
    }
    &-btn{
      width: 100%;
      height: 40px;
      background-color: red;
      border: none;
      color: #fdfdfd;
      border-radius: 5px;
      padding: 7px 15px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
    &-label{
      display: flex;
      text-align: center;
      color: #1e1d1d;
    }
  }
  &__block{
    padding-top: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00000050;
  }

}

::placeholder {
  color: #fdfdfd;
}