@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  transition: .3s all;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

body {
  background: black;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@import "home";
@import "navbar";
@import "featured";
@import "list";
@import "listItem";
@import "modal";
@import "watch";
@import "movies";
@import "myList";
@import "moviesCard";
@import "moviesList";
@import "register";
@import "registerPass";
@import "login";
@import "footer";
@import "footer";